:root {
    --dark-primary: #1e1e1e;
    --dark-secondary: #2B2B2B;

    --light-primary: #c0c0c0;
    --light-secondary: #919191;

    --color-primary: #524fff;
}

body {
    background-color: #1a1a1a !important;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

header {
    padding-bottom: 5rem;
}

nav {
    background-color: var(--dark-primary);
    border-bottom: var(--dark-secondary) 2px solid;
    box-shadow: 0 4px 15px #0000004d;
}

nav a {
    text-decoration: none;
    color: var(--light-primary) !important;
    font-weight: 600;
}

nav a.active {
    color: #524fff !important;
}

nav a:hover {
    transition: all .25s;
    opacity: .75;
}

.homeImages {
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    border: 2px solid var(--light-secondary);
    object-fit: cover;
    box-shadow: 0 4px 15px #0000004d;
}

.homeImages:hover {
    transition: all .5s;
    transform: scale(1.01) rotate(2deg);
    border-color: var(--color-primary);
}

#profile-main {
    width: 90%;
}

.profile-block {
    border: 2px solid var(--dark-secondary);
    border-radius: 15px;
    background-color: var(--dark-primary);
    box-shadow: 0 4px 15px #0000004d;
}

table {
    background: var(--dark-primary);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px #0000004d;
}

thead {
    background: var(--color-primary);
    color: white;
}

thead th {
    padding: 1rem;
}

tbody td {
    padding: 0.9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.9rem;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.25s;
}

td:nth-child(7) {
    font-weight: bold;
    text-transform: uppercase;
}

td input {
    background-color: var(--dark-secondary) !important;
}

td input:hover {
    transition: all .5s;
    transform: scale(1.02);
    border-color: var(--color-primary) !important;
}

td input:focus {
    border-color: var(--color-primary) !important;
    box-shadow: none !important;
}

.progress {
    background-color: var(--dark-primary) !important;
}

details {
    background-color: var(--dark-primary);
    border: 2px solid var(--dark-secondary);
    border-radius: 15px;
    box-shadow: 0 4px 15px #0000004d;

}

details:hover {
    transition: all .5s;
    transform: scale(1.01);
    border-color: var(--color-primary) !important;
}


details[open] 
{
    border-color: var(--color-primary) !important;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: .5; }
    to { opacity: 1; }
}

a {
    color: var(--color-primary) !important;
}

.blog-button {
    background-color: var(--dark-primary);
    border: 2px solid var(--dark-secondary);
    border-radius: 15px;
    box-shadow: 0 4px 15px #0000004d;
}

.blog-button:hover {
    transition: all .5s;
    transform: scale(1.01);
    border-color: var(--color-primary) !important;
}

.blog-image {
    width: 40px;
    object-fit: cover;
}

#main-aside {
    background-color: var(--dark-primary);
    border-top: 2px solid var(--dark-secondary);
    margin-top: auto;
}

#main-aside a {
    color: rgb(168, 168, 168) !important;
}

#main-aside a:hover {
    color: var(--color-primary) !important;
    transition: 0.25s;
}